<h2>Edit post</h2>

<%= form_for :post, url: post_path(@post), method: :patch do |f| %>

  <% if @post.errors.any? %>
    <% @post.errors.full_messages.each do |msg| %>
      <div class="alert alert-danger"><%= msg %></div>
    <% end %>
  <% end %>

  <div class="row">
    <div class="col">
      <p>
        Заголовок<br>
        <%= f.text_field(:title, {:class => 'form-control'}) %>
      </p>

      <p>
        Описание<br>
        <%= f.text_area(:body, {:class => 'form-control'}) %>
      </p>

      <p>
        Дата и время начала<br>
        <%= f.datetime_select(:time, {:class => 'custom-select custom-select-lg mb-3'}) %>
      </p>

      <p>
        Дата и время окончания<br>
        <%= f.datetime_select(:end_time, {:class => 'custom-select custom-select-lg mb-3'}) %>
      </p>

      <p>
        Изображение<br>
        <%= f.file_field :image %>
      </p>

      <p>
        <%= f.submit({:class => 'btn btn-dark'}) %>
      </p>
    </div>
  </div>

<% end %>