<!--<h1><%#= current_user.admin %></h1>-->
<br>
<% @post.each do |post| %>
  <div class="card mb-3 shadow float-center" style="max-width: 700px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="http://i66.tinypic.com/hunnlw.jpg" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h3 class="card-title font-weight-bold"><%= post.title %></h3>
          <p class="card-text font-italic"><%= post.body %></p>
          <p class="card-text">
            <small class="text-muted"><%= post.time %> - <%= post.end_time %></small>
          </p>
          <% if user_signed_in? %>
            <%= link_to "Reed more...", post_path(post), :class => 'btn btn-dark float-right mb-2' %>
          <% end %>
          <p class="font-italic">Author: <%= User.find(post.user_id).email %></p>
          <p class="font-italic">Created_at: <%= post.created_at.strftime "%Y-%m-%d %H:%M:%S" %></p>
          <p class="font-italic">Updated_at: <%= post.updated_at.strftime "%Y-%m-%d %H:%M:%S" %></p>
        </div>
      </div>
    </div>
  </div>
<% end %>