<br>

<% @post.each_with_index do |post, index| %>


  <% if index % 3 == 0 %>
    <!--  Row-->
    <div class="row">
  <% end %>

  <!--  Col-->
  <div class="col-4 mb-4">
    <div class="card ml-2 shadow" style="width: 320px; height: 700px;">
      <% if post.image? %>
        <%= image_tag post.image.url(:large), class: "card-img rounded" %>
      <% else %>
        <img src="http://i66.tinypic.com/hunnlw.jpg" class="card-img rounded" alt="...">
      <% end %>
      <div class="card-body">
        <h5 class="card-title font-weight-bold"><%= post.title %></h5>
        <hr>
        <p class="body-text h6 font-italic"><%= post.body %></p>
        <hr>
        <p class="mb-1">
          <img src="https://cdn1.imggmi.com/uploads/2019/4/28/74f9da038a0b70ba18ac521d2556c1ca-full.png" border="0"/>
          <small class="text-muted"><%= post.end_time.strftime "%d-%m-%Y" %></small>
        </p>
        <p class="card-text">
          <img src="https://cdn1.imggmi.com/uploads/2019/4/28/91a22c46cbae88fac5a3d0f7ee0df818-full.png" border="0"/>
          <small class="text-muted"><%= post.time.strftime "%H:%M" %>-<%= post.end_time.strftime "%H:%M" %></small><br>
        </p>
        <hr>
        <small class="text-muted">Автор: <%= User.find(post.user_id).email %></small>
        <br>
        <small class="text-muted">Создан: <%= post.created_at.strftime "%Y-%m-%d" %></small>
        <br>
        <small class="text-muted">Обновлен: <%= post.updated_at.strftime "%Y-%m-%d %H:%M:%S" %></small>
      </div>
      <div class="card-footer bg-transparent">
        <% if user_signed_in? %>
          <a class="text-decoration-none" href="<%= post_path(post) %>">Подробнее...</a>
        <% end %>
      </div>
    </div>
  </div>

  <% if (index + 1) % 3 == 0 %>
    <!--  End Row-->
    </div>
  <% end %>
<% end %>