<h2>Create new post</h2>

<%= form_for :post, url: posts_path, html: { multipart: true } do |f| %>

  <% if @post.errors.any? %>
    <% @post.errors.full_messages.each do |msg| %>
      <div class="alert alert-danger"><%= msg %></div>
    <% end %>
  <% end %>

  <p>
    Название события<br>
    <%= f.text_field(:title, {:class => 'form-control'}) %>
  </p>

  <p>
    Описание события<br>
    <%= f.text_area(:body, {:class => 'form-control'}) %>
  </p>

  <p>
    Дата и время начала<br>
    <%= f.datetime_select(:time, {:class => 'custom-select'}) %>
  </p>

  <p>
    Дата и время окончания<br>
    <%= f.datetime_select(:end_time, {:class => 'custom-select'}) %>
  </p>

  <p>
    Изображение<br>
    <%= f.file_field(:image, {:class => 'custom-file'} )%>
  </p>

  <p>
    <%= f.submit({:class => 'btn btn-dark'}) %>
  </p>

<% end %>