<!DOCTYPE html>
<html>
<head>
  <title>SimpleProject</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <style>
    nav a {
      color: gray;
    }

    .img-avatar-nav {
      border-radius: 5px;
      max-height: 40px;
    }

    .img-avatar {
      border-radius: 20px;
    }
  </style>

</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Funny TIME</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

  </div>

  <% if !current_user.nil? && current_user.image? %>
    <%= image_tag current_user.image.url(:thumb), class: 'img-avatar-nav mr-5' %>
  <% end %>

</nav>

<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li>
            <span class="py-2 d-none d-md-inline-block link-to"><%= link_to "Главная страница", home_path %></span>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file"></span>
              Календарь событий (не работает)
            </a>
          </li>
          <% if user_signed_in? %>
            <li class="nav-item">
              <span class="nav-link py-2 d-none d-md-inline-block"><%= link_to "Новое событие", new_post_path %></span>
            </li>
            <li class="nav-item">
              <span class="nav-link py-2 d-none d-md-inline-block"><%= link_to "Личный кабинет", user_path(current_user) %></span>
            </li>
            <li class="nav-item">
              <span class="py-2 d-none d-md-inline-block"><%= link_to "Выход", destroy_user_session_path, method: :delete %></span>
            </li>
          <% else %>
            <li class="nav-item">
              <span class="py-2 d-none d-md-inline-block"><%= link_to "Вход", new_user_session_path %></span>
            </li>
            <li class="nav-item">
              <span class="py-2 d-none d-md-inline-block"><%= link_to "Регистрация", new_user_registration_path %></span>
            </li>
          <% end %>
          <li class="nav-item">
            <span class="py-2 d-none d-md-inline-block"><%= link_to "О проекте", about_path %></span>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <%= yield %>
    </main>
  </div>
</div>
</body>
</html>
